*{

  margin:0;
  padding:0;
  
}

body{

  background-color:rgb(31,31,31);

}

.navbar{
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  padding-inline: 4vw;
  margin-top:40px;
  justify-content: space-between;


}

input{

    padding:12px;
    width:500px;
    border-radius:15px;
    font-size:20px;
    font-weight: bold;
    background-color:rgb(38,38,38);
    border:none;
    color:rgb(81,81,81);

}

.navbutton{

  padding:12px;
  width: 120px;
  border-radius:15px;
  font-size:20px;
  font-weight: bold;
  background-color:rgb(38,38,38);
  border:none;
  color:rgb(255,255,255)

}

.about-us{

  background-color: rgb(38,38,38);
  display: flex;
  padding-inline: 4vw;
  justify-content:space-between;
  align-items:center;


  margin:50px;
  color:rgb(196,196,196);
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

}

.box{
  display:flex;
  align-items: center;
  padding:10px;
}

.box img{

  height:70px;

}

div p{

  margin-left:30px;
  font-size:20px;
  font-weight: bold;

}

.about-us-2 img{

  height:230px;


}

.about-us-2{

  text-align: center;

}

.abt-us{
  margin-left: 15px;
  color:rgb(255,255,255);
  padding-bottom: 10px;
  font-size:30px;
}

.know-more{

  padding:15px;
  border-radius:25px;
  width:150px;
  font-size:20px;
  font-weight: bold;
  color:rgb(38,38,38);
  background-color: rgb(254,203,3);
  border:none;

}

.categories{

  display: flex;
  flex-wrap: wrap;
  color:white;
  padding-inline: 6vw;
  justify-content:space-between;
  align-items:center;
  margin-bottom: 50px;

}

.card{
  border:4px solid rgb(38,38,38);
  width:300px;
  height:300px;
  padding: 15px;
  color:rgb(196,196,196);
  border-radius: 20px;
  
}

.card p{

  font-size: 14px;

}

.card h3{

  margin-left:30px;
  font-size: 25px;
  margin-bottom: 10px;

}

.cat{

  color:rgb(255,255,255);
  font-size: 30px;
  margin-left: 110px;
  margin-bottom: 50px;
  
}

#know-more{

  float:right;
  margin-top: 50px;
  margin-right: 10px;
  padding:13px;
  width:120px;
  border-radius: 20px;
  border:none;
  background-color: rgb(254,203,3);
  font-weight: bold;
  
}





